html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

* {
  outline: none !important;
}

img {
  max-width: 100%;
}
img.mobileResponsiveImages {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 1.1) {
  img.mobileResponsiveImages {
    display: block;
  }
}
img.desktopResponsiveImages {
  display: none;
}
@media (-webkit-max-device-pixel-ratio: 1.1) {
  img.desktopResponsiveImages {
    display: block;
  }
}

.hero {
  height: 100vh;
}
.hero picture {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero picture img {
  height: 100%;
}
@media (min-width: 1200px) {
  .hero picture img {
    width: 100%;
    height: auto;
  }
}

.slider .carousel {
  max-width: 1080px;
  padding: 0;
}
.slider .carousel .heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 50px;
  font-weight: 100;
  color: white;
}