html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

* {
    outline: none !important;
}

img {
    max-width: 100%;
    &.mobileResponsiveImages {
        display: none;
        @media (-webkit-min-device-pixel-ratio: 1.1) {
            display: block;
        }
    }
    &.desktopResponsiveImages {
        display: none;
        @media (-webkit-max-device-pixel-ratio: 1.1) {
            display: block;
        }
    }
}

.hero {
    height: 100vh;
    picture {
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: -1;
        img {
            height: 100%;
            @media (min-width: 1200px) {
                width: 100%;
                height: auto;
            }
        }
    }
}

.slider {
    .carousel {
        max-width: 1080px;
        padding: 0;
        .carousel-item {
            
        }
        .heading {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            font-size: 50px;
            font-weight: 100;
            color: white;
        }
    }
}