@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

$grid-breakpoints: (
    xxxs: 0,
    xxs: 300px,
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    xs: 320px,
    sm: 540px,
    md: 720px,
    lg: 1070px,
    xl: 1140px,
    xxl: 1480px
);

@import "bootstrap";

:root {
--color-dark: #241C15;
--color-dark-grey: #403B3B;
--color-grey: #8C8C8C;
--color-light-grey: #F8F8F8;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

