<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{{ mix('css/vendor.min.css') }}" />
<link rel="stylesheet" href="{{ mix('css/app.min.css') }}" />

</head>
<body>

<main class="{{ wrapClass|default('') }}">

	{% block body %}{% endblock %}

</main>

<script src="{{ mix('js/vendor.min.js') }}"></script>
<script src="{{ mix('js/lazyload.min.js') }}"></script>
{% js %}
	var lazyLoadInstance = new LazyLoad();
{% endjs %}

</body>
</html>