{% extends "_layout/base" %}

{% import '_shared/image' as macros %}

{% set wrapClass = 'homepage' %} 

{% block body %}

<section class="hero d-flex">
	<div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-white text-uppercase"><h1>{{ entry.title }}</h1></div>
        </div>
    </div>
    {% set image = entry.heroImage.one() %}
    {% set altText = entry.title %}                            
    {% set sizes = "100vw" %}

    {% set classes = "lazy mobileResponsiveImages" %}
    {% set imageSizes = [
        { width: 414*3, ratio: 8/10 },
        { width: 414*2, ratio: 8/10 },
        { width: 414, ratio: 8/10 },
    ] %}

    {{ macros.responsiveImage(image, altText, classes, imageSizes, sizes) }}
    
    {% set classes = "lazy desktopResponsiveImages" %}
    {% set imageSizes = [
        { width: 1920, height: 1000 },
    ] %}

    {{ macros.responsiveImage(image, altText, classes, imageSizes, sizes) }}
</section>

{% if entry.slider | length %}

<section class="slider py-5">
	<div class="container">
        <div class="row justify-content-center">
            <div id="slider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="0">
                <div class="carousel-indicators">
                    {% for slide in entry.slider %}
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="{{ loop.index - 1 }}" {{ loop.index == 1 ? 'class="active" aria-current="true"' : '' }}></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for slide in entry.slider %}
                        <div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">
                            <div class="heading">{{ slide.heading }}</div>
                            
                            {% set image = slide.image.one() %}
                            {% set altText = slide.heading %}                            
                            {% set sizes = "100vw" %}

                            {% set classes = "lazy mobileResponsiveImages" %}
                            {% set imageSizes = [
                                { width: 414*3, ratio: 8/10 },
                                { width: 414*2, ratio: 8/10 },
                                { width: 414, ratio: 8/10 },
                            ] %}

                            {{ macros.responsiveImage(image, altText, classes, imageSizes, sizes) }}
                            
                            {% set classes = "lazy desktopResponsiveImages" %}
                            {% set imageSizes = [
                                { width: 1080, height: 704 },
                            ] %}

                            {{ macros.responsiveImage(image, altText, classes, imageSizes, sizes) }}

                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}