{% macro responsiveImage(image, altText, classes, imageSizes, sizes) %}

{% set transformedImages = craft.imager.transformImage(image, imageSizes, {
    mode: 'crop', 
    jpegQuality: 80, 
    webpQuality: 80,
    format: 'jpg'
}) %}

{% if craft.imager.serverSupportsWebp() %}
    {% set transformedImagesWebp = craft.imager.transformImage(image, imageSizes, { 
        format: 'webp',
        mode: 'crop', 
        jpegQuality: 80, 
        webpQuality: 80
     }) %}
{% endif %}

<picture>
    {% if craft.imager.serverSupportsWebp() %}
        <source sizes="{{ sizes }}" srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
    {% endif %}

    <img class="{{ classes }}" data-src="{{ craft.imager.base64Pixel() }}" sizes="{{ sizes }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ altText }}">
</picture>

{% endmacro %}